
@font-face {
    font-family: 'OswaldRegular';
    src: url('oswald/oswald-webfont.eot');
    src: url('oswald/oswald-webfont.eot?#iefix') format('embedded-opentype'),
         url('oswald/oswald-webfont.woff') format('woff'),
         url('oswald/oswald-webfont.ttf') format('truetype'),
         url('oswald/oswald-webfont.svg#OswaldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PTSansRegular';
    src: url('ptsans/ptsans-regular-webfont.eot');
    src: url('ptsans/ptsans-regular-webfont.eot?iefix') format('eot'),
         url('ptsans/ptsans-regular-webfont.woff') format('woff'),
         url('ptsans/ptsans-regular-webfont.ttf') format('truetype'),
         url('ptsans/ptsans-regular-webfont.svg#webfontdeSwgHNj') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix {
	display:inline-block
}

.clearfix {
	display:block
}
.clear, .push {
	clear: both;
}
.both {
	clear: both;
}
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
 border : 0px;
}
input[type="submit"]:focus, input[type="button"]:focus {
	outline : none;
}

/* LAYOUT */
/* ----------------------------------------- */
body {
	background: #dfdfdf url(images/noize.png) repeat 100% 0;
	color: #343434;
	font-size: 14px;
}
.tab-inner .profile h3 {
	font-weight: normal;
	line-height: 16px;
	text-transform: uppercase;
	padding-top: 0!important;
	margin-top: 0!important;
}
.tab-inner.tab-digg .digg-widget-head .premium h2 {
	font-weight: normal!important;
	line-height: 16px;
	text-transform: uppercase;
}
h1 {
	font-size: 22px;
	background: url(images/h1.png) repeat;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 870px;
}
#banner {
	height: 239px;
	position: relative;
	
}
#banner img {
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 20px;
	clear: both;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
	line-height: 18px;
}
#nav-container {
	background: #545454 url(images/hdr.png) repeat 0 0;
	width: 100%;
	overflow: hidden;
}
#dctsp-nav {
	float: left;
	border-right: 1px solid #333;
	text-transform: uppercase;
	font-family: 'OswaldRegular';
	margin-bottom: 0;
}
#dctsp-nav li {
	float: left;
	border-right: #ccc;
	border-left: #111;
	padding: 0;
	background: 0;
	margin: 0;
	font-size: 14px;
}
#dctsp-nav li a {
	float: left;
	display: block;
	padding: 10px 20px;
	color: #fefefe;
	border-left: 1px solid #333;
	border-right: 1px solid #666;
	text-shadow: 0 0 1px #000;
}
#dctsp-nav li a:hover {
	background: #888 url(images/hdr_on.png) repeat 0 0;
	color: #fefefe;
}

.caps {
	text-transform: uppercase;
}
.col-main p, .col-main ul, .col-main ol {
	margin-bottom: 1.5em;
}
.text-content p, .text-content ul, .text-content ol, .post-text p, .post-text ul, .post-text ol {
	margin-bottom: 1.5em;
	line-height: 1.5em;
}

.intro {
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 1em;
}
.introduction {
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 1em;
}
.hr2 {
	border-top: 3px solid #454545;
	height: 4px;
	border-bottom: 1px solid #454545;
	margin: 36px 0;
	clear: both;
}
.hr1 {
	height: 0;
	border-bottom: 1px solid #454545;
	margin: 36px 0;
	clear: both;
}
.center {
	text-align: center;
	display: block;
	margin: 0 auto;
}
p .center {
	text-align: center;
	display: block;
	margin: 0 auto 10px;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
img.center, .img-center {
	margin: 0 0 15px 0;
}
.img-center {
	text-align: center;
}
img.left, .img-left {
	float: left;
	margin: 0 20px 15px 0;
}
img.right, .img-right {
	float: right;
	margin: 0 0 15px 20px;
}

.img-left-col {
	float: left;
	margin: 0 30px 30px 0;
}
.margin-bottom {
	margin-bottom: 36px;
}
a.button {
	background: #5499c3 url(style/images/button.png) repeat-x;
	border: none;
	height: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-family: 'CharisSILItalic';
	font-size: 14px;
	padding: 6px 15px 6px 15px;
	margin: 10px 0;
	display: inline-block;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
p a.button {
	line-height: 15px;
}
a.button.blue {
	background-color: #5499c3;
}

a.button.green {
	background-color: #4dab96;
}

a.button.lime {
	background-color: #92ab4d;
}

a.button.red {
	background-color: #ab4d63;
}

a.button.purple {
	background-color: #8d4dab;
}

a.button.blue:hover {
	color: #fff;
	background-color: #ab4d63;
}

a.button.green:hover {
	color: #fff;
	background-color: #ab4d63;
}

a.button.lime:hover {
	color: #fff;
	background-color: #ab4d63;
}

a.button.red:hover {
	color: #fff;
	background-color: #4d87ab;
}

a.button.purple:hover {
	color: #fff;
	background-color: #4dab96;
}

.dropcap {
	display:block;
	float:left;
	font-size:45px;
	padding:0;
	margin: 0;
	margin:10px 8px 3px 0;
	font-family: 'OswaldRegular';
}
pre {
	margin: 5px 0px 40px 0px;
	padding: 0 10px 0px 10px;
	display: block;
	clear: both;
	background: url(style/images/codebg.jpg) repeat;
	line-height: 20px;
	font-size: 12px;
	border: 1px solid #cfcfcf;
	color: #222;
}

.download-box, .warning-box, .info-box, .note-box {
	clear:both;
	margin: 10px 0px;
	text-shadow: none;
	padding: 15px 15px 13px 15px;
	line-height: 17px;
}

/*-----------------------------------------------------------------------------------*/
/*	LAYOUT
/*-----------------------------------------------------------------------------------*/

#wrapper, .wrap {
	width: 960px;
	margin: 0 auto;
}
#header {
	padding: 30px 0 25px 0;
	display: block;
	overflow: hidden;
	position: relative;
}
#logo {
	
}

.col-side {width: 300px; float: right;}
.col-main{width: 570px; float: left;}
.col-main p {margin-bottom: 0;}
.clear {
	clear: both;
}
.social {
	float: right;
	position: absolute;
	bottom: 25px;
	right: 0;
}
.social ul li {
	float: left;
	margin-left: 1px;
	background: none;
	padding: 0;
}
#container {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding-top: 10px;
	
}
.opacity {
	padding: 30px 30px 10px 30px;
	background: #fff;
	margin-bottom: 15px;
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
}
.opacity.pad-btm {
	padding: 30px;
}
.header {
	padding: 0 30px;
	color: #fff;
	margin-bottom: 20px;
}

#copyright p {
	padding-top: 10px;
	border-top: 1px dashed #ccc;
	font-size: 12px;
	text-align: center;
	margin-bottom: 0;
}
#footer {
	padding: 40px 0 0 0;
	overflow: hidden;
}
#footer h3 {
	margin-bottom: 5px;
}

/* MENU */
/* ----------------------------------------- */

.menu {
	background-image:url(images/menu.png);
	width:932px;
	height:32px;
	margin:0 auto;
	background-repeat: no-repeat;
	overflow:hidden;
	clear:both;
	padding:12px;
	line-height: 16px;
	padding-left:15px;
	padding-right:15px;
	font-size: 20px;
	margin-bottom:0px;
	display: block;
	font-family:'QlassikMediumRegular', Tahoma, Arial, sans-serif;
	color: #747474;
}

a.menu {
color: #555;
}


/* ABOUT */
/* ----------------------------------------- */

.question-container {
	overflow: hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: white;
	border: 1px solid #cfcfcf;
	padding:15px;
	margin-bottom: 30px;
}

.question-container p {
	line-height: 22px;
}
.info {
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 1.5em;
}
.large.info {
	font-size: 18px;
}
.info em {
	display: block;
	padding-top:10px;
	color:#4d82b3;
}

.info a {
	color:#4d82b3;
}

.info-left {
	width:230px;
	float:left;
	border-right: 1px dashed #999;
}


.info-right {
	width:500px;
	float:right;
	margin-left:30px;
	padding-right:20px;
}

hr.knot {
	background-image: url(images/hr.png);
	background-repeat: no-repeat;
	width:600px;
	height:32px;
	border:0;
	float:right;
}


hr.knot2 {
	background-image: url(images/hr.png);
	background-repeat: no-repeat;
	width:600px;
	height:32px;
	text-align: center;
	border:0;
	margin-top:50px;
	clear: both;
}
pre {
	margin: 0 0 20px 0;
	padding: 0 10px 0px 10px;
	display: block;
	clear: both;
	background: url(images/codebg.jpg) repeat;
	line-height: 20px;
	font-size: 11px;
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
h3 {
	font-size: 26px;
	padding:0 0 5px 0;
	margin:0;
	color: #333;
}

.title {
	margin-bottom: 10px;
}


hr {
	border: none;
	border-bottom: 1px dashed #999;
	padding: 10px 0;
	margin: 0 0 20px 0;
}
/*
pre strong, strong {
	background-color: #b5d0e6;
	padding:0px 4px 1px;
	font-weight: normal;
}
*/
.toggle {
	margin-bottom: 20px;
}
.toggle-wrapper {
	padding-bottom:5px;
}
.togglebox {
	overflow: hidden;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	background-color: white;
	border: 1px solid #cfcfcf;
	border-top: none;
}

.togglebox div {
	padding:10px 15px;
}

.togglebox p {
	margin-bottom: 1em;
	line-height: 22px;
}

.togglebox h2 {
	display:inline-block;
	overflow: hidden;
	line-height: 30px;
}
.togglebox h4 {
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	font-weight: normal;
	margin: 0 0 15px 0;
	padding: 10px 0 0;
	color: #222;
	text-transform: uppercase;
}
.togglebox ul {
	overflow: hidden;
}
.togglebox ul li {
	background: url(images/bullet.png) no-repeat  0px 1px;
	margin-bottom:10px;
	padding-left:20px;
	font-size:13px;
}
.togglebox ul li ol {
	padding-top: 10px;
}
.togglebox ul li ol li {
	background: none;
	margin-bottom: 5px;
	padding-left: 0;
}
.togglebox ul li strong {
	font-weight: bold;
	background: none;
	padding: 0;
	display: block;
}
.margin-bottom {
	margin-bottom: 15px;
}

#nav-shortcode-mega div.mega-box {
	float: left;
	width: 23%;
	margin: 0 2% 2% -2px;
	padding: 0;
}
#nav-shortcode-mega h3 {
	padding: 7px 10px;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
}
#nav-shortcode-mega div ul {
	padding-left: 10px;
}
.togglebox .float-list {
	width: 100%; overflow: hiddem; margin-bottom: 15px;
}
.togglebox .float-list li {
	width: 20%;
	float: left;
}
h2.trigger {
	clear:both;
	font-size: 18px;
	padding: 12px;
	margin:0px;
	display: block;
	cursor: pointer;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: white;
	border: 1px solid #cfcfcf;
	position: relative;
}
h2.trigger.active {
		-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	border-bottom: none;
}
.trigger span{
	background: transparent url(images/down.png) no-repeat center center;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
/*	right: -26px;*/
	right: 12px;
	margin-top: -7px;
	opacity:0;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.trigger:hover span{
	opacity:1;
	right: 12px;
}
.trigger.active span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
	right:10px;
	opacity:1;
}

.tbl {border-top: 1px solid #ccc; margin-bottom: 20px;}
.tbl tr th {padding: 5px; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; border-left: 1px solid #fff; text-shadow: 0 1px 0 #fff; text-transform: capitalize;
background-color: #F1F1F1; background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);}
.tbl tr th.first {border-left: 1px solid #ccc;}
.tbl tr td {padding: 5px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; border-left: 1px solid #fff; background: #fff; font-size: 13px; vertical-align: top;}
.tbl tr td.first {border-left: 1px solid #ccc;}
.tbl tr.odd td {background: #f9f9f9;}

.tbl tr.total td, .tbl tr td.total, .tbl tr.odd td.total, .tbl tr th.total {background: #e3f3f7;}

.demo-height {height: 1200px;}
.text-input {
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #555;
	font-size: 13px;
	padding: 3px;
	width: 195px; margin-right: 6px;
}
.select {
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #555;
	font-size: 13px;
	padding: 3px;
	width: 200px; margin-right: 6px;
}

#dcsns-form {
	float: left;
	width: 390px;
	padding: 10px 15px 0 15px;
	border: 1px solid #ccc;
	margin-bottom: 1em;
	margin-right: 30px;
	background-color: #fcfcfc;
    background-image: -moz-linear-gradient(center top , #fefefe, #dfdfdf);
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
}
#dcsns-form h4 {
	padding-bottom: 5px;
	text-shadow: 0 0 1px #fff;
}
#dcsns-form p.border-top {
	padding-top: 10px;
}
#dcsns-pre {
	float: left;
	width: 400px;
}
#dcsns-form p {
	clear: both;
	width: 100%;
	overflow: hidden;
}
#dcsns-form label {
	display: block;
	float: left;
	width: 110px;
	padding-top: 3px;
}
#link-go {
	cursor: pointer;
	margin-right: 80px;
	float: right;
	font: bold 12px/14px Arial, sans-serif;
	display:inline-block;
	text-decoration:none;
	outline:none;
	padding: 4px 8px;
	background-color: #4A8BF6;
    background-image: -moz-linear-gradient(center top , #73a7fd, #3b84fb);
    border: 1px solid #2a79fb;
    color: #fff;
    text-shadow: 0 1px 0 #555;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
#link-go:hover{
	background-color: #4A8BF6;
    background-image: -moz-linear-gradient(center top , #3b84fb, #73a7fd);
    border: 1px solid #2a79fb;
    color: #fff;
	text-shadow: none;
}
.opacity {position: relative;}
.demo-list {position: absolute; top: 10px; right: 0; background: 0; margin: 0; padding: 0;}
.demo-list li {display: inline; background: 0; margin: 0; padding: 0;}
.demo-list li a{display: block; float: left; padding: 5px 10px; background: #555; color: #fff; margin-right: 20px;}