a:link {
	text-decoration: none;
	color: #4A4B4F
}
a:active {
	text-decoration: none;
	color: #4A4B4F
}
a:visited {
	text-decoration: none;
	color: #4A4B4F
}
a:hover {
	text-decoration: none;
	color: #4A4B4F
}
.a:link {
	text-decoration: none;
	color: #4A4B4F
}
.a:active {
	text-decoration: none;
	color: #4A4B4F
}
.a:visited {
	text-decoration: none;
	color: #4A4B4F
}
.a:hover {
	text-decoration: none;
	color: #4A4B4F
}
.b:link {
	text-decoration: none;
	color: #4A4B4F
}
.b:active {
	text-decoration: none;
	color: #4A4B4F
}
.b:visited {
	text-decoration: none;
	color: #4A4B4F
}
.b:hover {
	text-decoration: none;
	color: #4A4B4F
}
.c:link {
	text-decoration: none;
	color: #0f8317
}
.c:active {
	text-decoration: none;
	color: #0f8317
}
.c:visited {
	text-decoration: none;
	color: #0f8317
}
.c:hover {
	text-decoration: none;
	color: #0f8317
}
body {
	margin-left:   0px;
	margin-top:    0px;
	margin-right:  0px;
	margin-bottom: 0px;
	background-color: 	#e2e2e2;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size:   8pt;
	color: 	   #797979;
}
.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size:   8pt;
	font-weight: bold;
	color: 	   #4a4b4f;
}
.title2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:   8pt;
	font-weight: bold;
	color: 	   #0f8317;
}
.title3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:   9pt;
	font-weight: bold;
	color: 	   #339933;
}
.black {
	font-family: Arial;
	font-size: 8pt;
	color: #333333;
}
input {
	font-family: Arial;
	font-size:   8pt;
	color: 	  #000000;
}
