@charset "utf-8";
/* CSS Document */
/*.clearfix {	float: none; clear: both; }*/
.socialContentSlider { width:840px; margin:0 auto; display:block; }
.socialHeaderTitle { background:url(images/title_joinoursocialnetwork.png) no-repeat; width:135px; height:14px; float:left; display:block; }
	.socialHeaderTitle span { display:none; }
.socialNavigation { float:right; display:block; margin-right:4px; font-size:13px; }
	.socialNavigation ul { list-style-type:none; margin:0; }
	.socialNavigation ul li { list-style-type:none; float:left; padding:0 9px; }
	.socialNavigation ul li a { color:#4e4e4e; }
		.socialNavigation ul li a:hover { text-decoration:none; }
		.socialNavigation ul li a.current { color:#010101; }
.socialContent { float:left; display:block; width:840px; }
	.ContentFacebook { background:url(images/box_socialcontent.png) no-repeat; background-position: 0 -126px;  height:126px; margin-top:8px; position:relative; }
	.ContentTwitter { background:url(images/box_socialcontent.png) no-repeat; background-position: 0 0;  height:126px; margin-top:8px; position:relative; }
.socialButtons { display:block; background:url(images/box_socialbutton.png) no-repeat; height:43px; width:113px; float:right; }
	
	.socialIconButtons { display:block; width:86px; height:30px; margin-top:6px; }
		.buttonFB { background:url(images/button_socialbuttons.png) no-repeat; background-position: -3px -3px; }
			.buttonFB:hover { background-position: -3px -39px; }
		.buttonTW { background:url(images/button_socialbuttons.png) no-repeat; background-position: -95px -3px; }
			.buttonTW:hover { background-position: -95px -39px; }
			
			.list_carousel {
				margin: 31px 0 0 0;
				width: 764px;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				font-size: 40px;
				color: #999;
				text-align: left;
				width: 254px;
				height: 78px;
				padding: 0;
				margin: 0;
				display: block;
				float: left;
			}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev, .next { background:url(images/button_nextprevious.png) no-repeat; width:12px; height:36px; display:block; position:absolute;}
			.prev {
				background-position: 0 0;
				top: 42px;
				left: 13px;
			}
			.next {
				background-position: -12px 0;
				top: 42px;
				right: 15px;
			}
			.pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			
			.list_carousel table tr td { font-size:12px; }
			.list_carousel table tr td a, .list_carousel table tr td { color:#000; }
				.list_carousel table tr td a:hover { text-decoration:none; }
			.list_carousel table tr td p.title { margin:0; margin-bottom:7px; }
			.list_carousel table tr td p.content { height:36px; white-space: pre-wrap; width:138px; overflow:hidden; text-overflow: ellipsis; }
			.list_carousel table tr td p { line-height:12px; margin:0; margin-bottom:7px; }
			.list_carousel table tr td span { font-style:italic; text-transform:lowercase; font-size:10px; }