/**
 * [Code color]
 * Turquoise: #3cbea7
              rgb(60,190,167)
			  #39b39c - secondary color
 */

a,
.wt_skin_color,
#nav.wt_nav_top ul li.active > a, 
#nav.wt_nav_top ul li.current_page_item > a,
#nav.wt_nav_top ul li:hover > a,
#nav ul li .mega-menu-widget a:hover,
.wt_services:hover .wt_icon,
#wt_breadcrumbs .breadcrumbs a,
#wt_footer .widget a:hover,
.wt_copyright span,
.wt_subscribe span,
#flexSlider .flex-caption .wt_button.button_slide:hover,
#nivo_slider_wrap .nivo-caption .wt_button.button_slide:hover,
#cycle_slider .cycle-overlay .wt_button.button_slide:hover,
.wt_styled_list li:before,
.widget_calendar a:hover,
#wp-calendar caption, 
#wp-calendar th,
ul.wt_tabs li a.current,
ul.wt_tabs li a.current i,
#wt_footerWrapper ul.wt_tabs li a.current,
.wt_faq_row h2,
.wt_services_buttons a,
.wt_services_slider h3,
#wt_container .wt_services_slider h3 a,
.wt_testimonials_slider_sc .wt_bxslider li h3,
#wt_container .wt_testimonials_slider_sc .wt_bxslider li h3 a,
.wt_counter_sc,
.blogEntry .entry_date .day,
.blogEntry .entry_date span,
.wt_service_box_sc .wt_icon_type_1.wt_icon_default,
.wt_service_box_sc .wt_icon_type_3.wt_icon_default,
#wt_footerWrapper .widget li .wt_postInfo a:hover, 
.widget_content ul.arrows_list1 li:hover i, 
.widget_content ul.archives_list li:hover i,
.wt_blog_entry .wt_read_more:hover,
.comment_wrap .comment_author a:hover,
.nav-previous span,
.nav-next span,
.nav-previous a:hover,
.nav-next a:hover,
.wt_team_info p,
.blogEntry_title a:hover,
.wt_blog_entry .blogEntry_metadata a:hover,
.widget li a:hover,
.widget .wt_postInfo .date,
.widget .wt_postInfo .comments a,
#wt_footerWrapper .widget .wt_postInfo .comments a {
	color: #3cbea7; }
.home.wt_multipage_theme #nav.wt_nav_top ul li:hover > a,
.home.wt_multipage_theme #nav.wt_nav_top ul li.current_page_item > a,
.wt_services .wt_icon,
.sortableLinks a:hover,
.sortableLinks a.selected,
#wt_footerTop,
#wt-top:hover,
#wt-top:active,
#nivo_slider_wrap .nivo-controlNav a,
.cycle-pager span,
.tparrows:hover,
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active,
.nivo-controlNav a,
h6.wt_framed_box_title,
.error_page .wt_button,
a.read_more:hover,
.wp-pagenavi .currentPosts,
.wp-pagenavi > .active,
.wp-pagenavi > .active > span,
.wp-pagenavi > .active > a:hover,
.wp-pagenavi > .active > span:hover,
.wp-pagenavi > .active > a:focus,
.wp-pagenavi > .active > span:focus,
.blogEntry a.read_more_link,
.mc4wp-form input[type="submit"],
.wpcf7-form input[type="submit"],
#today, #wt_containerWrapp #today,
.wt_search_form .search-btn:hover,
#wt_footerWrapper .mc4wp_submit:hover,
.tagcloud a:hover,
#wt_footerWrapper .tagcloud a:hover,
.overlay,
.comment_wrap .gravatar img:hover,
.comment_wrap .gravatar:hover:after,
.contact_button,
.wt_flickrWrap div .hover,
.btn-theme,
.wt_services_buttons a.active,
.wt_testimonials_slider_sc .bx-pager.bx-default-pager a:hover,
.wt_testimonials_slider_sc .bx-pager.bx-default-pager a.active,
.blogEntry .wt_dates:hover,
.wt_blog_grid_sc .time,
.wt_service_box_sc .wt_icon_type_2.wt_icon_default,
.wt_service_box_sc:hover .wt_icon_type_3.wt_icon_default,
.wt_pricing_box_sc.wt_pricing_featured h3,
.wt_pricing_box_sc.wt_pricing_featured.wt_price_has_icon .wt_icon,
.wt_image_zoom,
.wt_icon_lightbox,
.btn-reply a,
.btn-primary, .open .dropdown-toggle.btn-primary,
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span,
.wt_progress_bars .vc_single_bar .vc_bar, 
.img_blog.owl-carousel.owl-theme .owl-controls .owl-page.active span, 
.img_blog.owl-carousel.owl-theme .owl-controls .owl-page span:hover,
.woocommerce-page a.button.wc-backward,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #3cbea7; }	
.wt_skin_bg_color,
#cancel-comment-reply-link:hover, 
#cancel-comment-reply-link:focus, 
#cancel-comment-reply-link:active,
.woocommerce .woocommerce-message:before, 
.woocommerce-page .woocommerce-message:before,
.woocommerce span.onsale, .woocommerce-page span.onsale,
.woocommerce button.button.alt,
.woocommerce-page button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page input.button.alt,
.woocommerce button.button:hover,
.woocommerce-page button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page input.button:hover,
.nicescroll-rails div {
	background-color: #3cbea7 !important; }
.woocommerce-page a.button:hover,
.woocommerce-page .price,
.woocommerce .star-rating, .woocommerce-page .star-rating {
	color: #3cbea7 !important; }
.wt_skin_border_color,
#cancel-comment-reply-link:hover, 
#cancel-comment-reply-link:focus, 
#cancel-comment-reply-link:active,
a.read_more:hover,
.wp-pagenavi > .active,
.wp-pagenavi > .active > span,
.wp-pagenavi > .active > a:hover,
.wp-pagenavi > .active > span:hover,
.wp-pagenavi > .active > a:focus,
.wp-pagenavi > .active > span:focus,
.wp-pagenavi .currentPosts,
.tagcloud a:hover,
.avatar:hover img,
.mc4wp-form input[type="submit"]:hover,
.wpcf7-form input[type="submit"]:hover,
.wt_services_slider h3,
.wt_service_box_sc .wt_icon_type_3.wt_icon_default,
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .open .dropdown-toggle.btn-primary,
.wt_search_form .search-btn {
	border-color: #3cbea7; }
.wt_skin_border_left_color,
.wt_services_buttons a,
.wt_blog_grid_sc .blogEntry:before,
.wt_blog_grid_sc .wt_dates,
.wpb_accordion .wpb_accordion_header.ui-state-active a {
	border-left-color: #3cbea7; }
.wt_skin_border_right_color,
.wt_services_buttons a,
.wt_blog_grid_sc .blogEntry:before,
.wt_blog_grid_sc .wt_dates {
	border-right-color: #3cbea7; }
.wt_skin_border_top_color,
ul.wt_tabs li a.current {
	border-top-color: #3cbea7; }
.wt_skin_border_bottom_color,
#nav ul ul.sub-menu, 
#nav ul ul.sub-menu li ul.sub-menu,
#nav ul ul.children, 
#nav ul ul.children li ul.children,
.wt_pricing_box_sc.wt_pricing_featured .wt_pricing_header {
	border-bottom-color: #3cbea7; }
.row-fluid textarea:focus, .row-fluid input:focus,
.woocommerce .woocommerce-message, 
.woocommerce-page .woocommerce-message,
.woocommerce button.button.alt,
.woocommerce-page button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page input.button.alt,
.woocommerce button.button:hover,
.woocommerce-page button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page input.button:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle,
.form-control:focus {
    border-color: #3cbea7 !important; }
	
/* ----- Color Alternatives ----- */ 

.widget > ul > li i,
.widget_nav_menu li a:before,
.widget_contact_info i,
.blogEntry_metadata_footer .entry_tags a:hover,
.wt_blog_entry .wt_read_more,
#wt_sidebar .wt_postInfo a:hover,
.widget .wt_postInfo .comments a:hover,
#wt_footerWrapper .widget .wt_postInfo .comments a:hover {
	color: #39b39c; }
.wt_pricing_box_sc.wt_pricing_featured .wt_plan_price,
.btn-theme:hover,
.contact_button:hover,
.wt_image_zoom:hover, .wt_image_zoom:focus,
.wt_icon_lightbox:hover, 
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child {
	background: #39b39c; }
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	border-color: #39b39c;  }
.wt_pricing_box_sc.wt_pricing_featured .wt_plan_price {
	border-top-color: #39b39c; }
.wt_pricing_box_sc.wt_pricing_featured .wt_plan_price {
	border-bottom-color: #39b39c; }
.wt_search_form .search-btn,
.contact_button,
.wt_color_overlay {
	background: rgb(60,190,167); 
	background: rgba(60,190,167,0.8); }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .open .dropdown-toggle.btn-primary,
.mc4wp-form input[type="submit"]:hover,
.wpcf7-form input[type="submit"]:hover {
	background: rgb(60,190,167) !important; 
	background: rgba(60,190,167,0.8) !important; }
.wt_team_overlay .wt_team_content {
	background: rgb(60,190,167); 
	background: rgba(60,190,167,0.9); }
.tagcloud a,
.wp-pagenavi > a:not(.active):not(.currentPosts):hover,
.wp-pagenavi > span:hover,
.wp-pagenavi > a:focus,
.wp-pagenavi > span:focus {
	background-color: rgb(60,190,167);
	border-color: rgb(60,190,167);
	background-color: rgba(60,190,167,0.8);
	border-color: rgba(60,190,167,0.8); }
.wt_loader_html {
	background-image: url(turquoise/loader.gif); }

/* ----- Static Styles to avoid css important ----- */ 

.cta-btn {
	color: #fff !important;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.1); }
.cta-btn:hover {
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.2); }
.blogEntry_title a {
	color: #333; }